<div class="container">
    <h1 class="text-center">{{title}} info</h1>
    <table class="table table_hover">
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>role</th>
                <th>email</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td>{{user.email}}</td>
                <td style="font-size: 25px;">
                    <a href="/user/{{user.id}}" class="mr-3"><i class="fa  fa-ellipsis-h text-dark"></i></a>
                    <a href="/update_user/{{user.id}}" class="mr-3"><i class="fa fa-edit text-primary"></i></a>
                    <a href="/delete_user/{{user.id}}"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col">
            <h1>Cars:</h1>
        </div>
        <div class="col-8 d-flex justify-content-center">
            <div class="row">
                <a href="/create_car/{{user.id}}" class="m-auto"><button class="btn btn-success"> add car </button></a>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
    {{#if cars.length}}
    <table class="table table_hover">
        <thead>
            <tr>
                <th>id</th>
                <th>model</th>
                <th>brand</th>
                <th>color</th>
                <th>price</th>
                <th>year</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {{#each cars}}
            <tr>
                <td>{{id}}</td>
                <td>{{model}}</td>
                <td>{{brand}}</td>
                <td>{{color}}</td>
                <td>{{price}}</td>
                <td>{{year}}</td>
                <td style="font-size: 25px;">
                    <a href="/update_car/{{id}}/{{userId}}"><i class="fa fa-edit text-primary mr-3"></i></a>
                    <a href="/delete_car/{{id}}/{{userId}}"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}


    <div class="row">
        <div class="col">
            <h1>Animals:</h1>
        </div>
        <div class="col-8 d-flex justify-content-center">
            <div class="row">
                <a href="/create_animal/{{user.id}}" class="m-auto"><button class="btn btn-success"> add animal </button></a>
            </div>
        </div>
        <div class="col">
    
        </div>
    </div>
    {{#if animals.length}}
    <table class="table table_hover">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>color</th>
                <th>country</th>
                <th>year</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {{#each animals}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{color}}</td>
                <td>{{country}}</td>
                <td>{{year}}</td>
                <td style="font-size: 25px;">
                    <a href="/update_animal/{{id}}/{{userId}}"><i class="fa fa-edit text-primary mr-3"></i></a>
                    <a href="/delete_animal/{{id}}/{{userId}}"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}


    <div class="row">
        <div class="col">
            <h1>Fruits:</h1>
        </div>
        <div class="col-8 d-flex justify-content-center">
            <div class="row">
                <a href="/create_fruit/{{user.id}}" class="m-auto"><button class="btn btn-success"> add fruit </button></a>
            </div>
        </div>
        <div class="col">
    
        </div>
    </div>
    {{#if fruits.length}}
    <table class="table table_hover">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>color</th>
                <th>country</th>
                <th>price</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {{#each fruits}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{color}}</td>
                <td>{{country}}</td>
                <td>{{price}}</td>
                <td style="font-size: 25px;">
                    <a href="/update_fruit/{{id}}/{{userId}}"><i class="fa fa-edit text-primary mr-3"></i></a>
                    <a href="/delete_fruit/{{id}}/{{userId}}"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>