<div class="container">
    <h1 class="text-center">{{title}} list</h1>
    <table class="table table_hover">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>color</th>
                <th>country</th>
                <th>price</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {{#if fruits.length}}
            {{#each fruits}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{color}}</td>
                <td>{{country}}</td>
                <td>{{price}}</td>
                <td style="font-size: 25px;">
                    <a href="/update_fruit/{{id}}"><i class="fa fa-edit text-primary mr-3"></i></a>
                    <a href="/delete_fruit/{{id}}"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
            {{/each}}
            {{/if}}
            {{#else}}
                <h1>No fruits</h1>
            {{/else}}
        </tbody>
    </table>
</div>